#what .items{
	display: block
}
@media(max-width: 500px){
	#navbar{
		flex-direction: column;
		align-items: center;
	}
	#navbar .logo{
		margin-bottom : 1rem;
		text-align: center;
	}
	#navbar ul li{
		flex: 1
	}
	#showcase .showcase-content {
		top : 100px;
	}
	#who{
		display: block;
	}
	#who .who-img{
		display: none
	}
	#clients .items img{
		width : 80%;
	}
	#clients .items div:last-child{
		display: none
	}
	#contact{
		display: block;
	}
	#contact .map{
		height: 250px;
		border-top: 4px solid #333
	}
}
@media (max-width: 640px){
	.l-heading{
		font-size: 2rem;
		
	}
	.lead{
		font-size: 1rem
	}
}